:root {
  --color-background: #fafafa;
  --color-footer-mobile-1: #f5f5f5;
  --color-footer-mobile-2: #e1e1e1;
  --color-border: #666;
  --color-meta: #000;
  --color-background-code: #f5f5f5;
  --color-link: #000;
  --color-link-decoration: #000;
  --color-text: #000;
  --color-accent-1: #000;
  --color-accent-2: #1a1a1a;
  --color-quote: #f2690d;
  --color-selection-background: #36c;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #333;
    --color-footer-mobile-1: #373737;
    --color-footer-mobile-2: #474747;
    --color-border: #999;
    --color-meta: #999;
    --color-background-code: #1f1f1f;
    --color-link: #7094db;
    --color-link-decoration: #7094db;
    --color-text: #ddd8d5;
    --color-accent-1: #000;
    --color-accent-2: #000;
    --color-quote: #f2690d;
    --color-selection-background: #7094db;
  }
}
.inline {
  display: inline;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.table {
  display: table;
}
.table-cell {
  display: table-cell;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-scroll {
  overflow: scroll;
}
.overflow-auto {
  overflow: auto;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.fit {
  max-width: 100%;
}
.truncate {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.max-width-1 {
  max-width: 24rem;
}
.max-width-2 {
  max-width: 32rem;
}
.max-width-3 {
  max-width: 48rem;
}
.max-width-4 {
  max-width: 64rem;
}
.border-box {
  box-sizing: border-box;
}
.m0 {
  margin: 0;
}
.mt0 {
  margin-top: 0;
}
.mr0 {
  margin-right: 0;
}
.mb0 {
  margin-bottom: 0;
}
.ml0 {
  margin-left: 0;
}
.mx0 {
  margin-right: 0;
  margin-left: 0;
}
.my0 {
  margin-top: 0;
  margin-bottom: 0;
}
.m1 {
  margin: 0.5rem;
}
.mt1 {
  margin-top: 0.5rem;
}
.mr1 {
  margin-right: 0.5rem;
}
.mb1 {
  margin-bottom: 0.5rem;
}
.ml1 {
  margin-left: 0.5rem;
}
.mx1 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.my1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.m2 {
  margin: 1rem;
}
.mt2 {
  margin-top: 1rem;
}
.mr2 {
  margin-right: 1rem;
}
.mb2 {
  margin-bottom: 1rem;
}
.ml2 {
  margin-left: 1rem;
}
.mx2 {
  margin-right: 1rem;
  margin-left: 1rem;
}
.my2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.m3 {
  margin: 2rem;
}
.mt3 {
  margin-top: 2rem;
}
.mr3 {
  margin-right: 2rem;
}
.mb3 {
  margin-bottom: 2rem;
}
.ml3 {
  margin-left: 2rem;
}
.mx3 {
  margin-right: 2rem;
  margin-left: 2rem;
}
.my3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.m4 {
  margin: 4rem;
}
.mt4 {
  margin-top: 4rem;
}
.mr4 {
  margin-right: 4rem;
}
.mb4 {
  margin-bottom: 4rem;
}
.ml4 {
  margin-left: 4rem;
}
.mx4 {
  margin-right: 4rem;
  margin-left: 4rem;
}
.my4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.mxn1 {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}
.mxn2 {
  margin-right: -1rem;
  margin-left: -1rem;
}
.mxn3 {
  margin-right: -2rem;
  margin-left: -2rem;
}
.mxn4 {
  margin-right: -4rem;
  margin-left: -4rem;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}
.p0 {
  padding: 0;
}
.pt0 {
  padding-top: 0;
}
.pr0 {
  padding-right: 0;
}
.pb0 {
  padding-bottom: 0;
}
.pl0 {
  padding-left: 0;
}
.px0 {
  padding-right: 0;
  padding-left: 0;
}
.py0 {
  padding-top: 0;
  padding-bottom: 0;
}
.p1 {
  padding: 0.5rem;
}
.pt1 {
  padding-top: 0.5rem;
}
.pr1 {
  padding-right: 0.5rem;
}
.pb1 {
  padding-bottom: 0.5rem;
}
.pl1 {
  padding-left: 0.5rem;
}
.py1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.px1 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.p2 {
  padding: 1rem;
}
.pt2 {
  padding-top: 1rem;
}
.pr2 {
  padding-right: 1rem;
}
.pb2 {
  padding-bottom: 1rem;
}
.pl2 {
  padding-left: 1rem;
}
.py2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.px2 {
  padding-right: 1rem;
  padding-left: 1rem;
}
.p3 {
  padding: 2rem;
}
.pt3 {
  padding-top: 2rem;
}
.pr3 {
  padding-right: 2rem;
}
.pb3 {
  padding-bottom: 2rem;
}
.pl3 {
  padding-left: 2rem;
}
.py3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.px3 {
  padding-right: 2rem;
  padding-left: 2rem;
}
.p4 {
  padding: 4rem;
}
.pt4 {
  padding-top: 4rem;
}
.pr4 {
  padding-right: 4rem;
}
.pb4 {
  padding-bottom: 4rem;
}
.pl4 {
  padding-left: 4rem;
}
.py4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.px4 {
  padding-right: 4rem;
  padding-left: 4rem;
}
body h1,
body .h1 {
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: var(--color-accent-1);
  letter-spacing: 0.01em;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
body h2,
body .h2 {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: var(--color-accent-2);
  text-transform: none;
  letter-spacing: normal;
  font-weight: bold;
  font-size: 1rem;
}
body h3,
body h4,
body h5,
body h6 {
  position: relative;
  color: var(--color-accent-2);
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 0.9rem;
  margin-bottom: 0.5rem;
}
body h3 {
  text-decoration: underline;
}
body hr {
  border: 0.5px dashed var(--color-border);
  opacity: 0.5;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
body strong {
  font-weight: bold;
}
body em,
body cite {
  font-style: italic;
}
body sup,
body sub {
  position: relative;
  vertical-align: baseline;
  font-size: 0.75em;
  line-height: 0;
}
body sup {
  top: -0.5em;
}
body sub {
  bottom: -0.2em;
}
body small {
  font-size: 0.85em;
}
body acronym,
body abbr {
  border-bottom: 1px dotted;
}
body ul,
body ol,
body dl {
  line-height: 1.725;
  padding-left: 2em;
}
body ul ul,
body ol ul,
body ul ol,
body ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
body ol {
  list-style: decimal;
}
body dt {
  font-weight: bold;
}
body table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 12px;
  overflow: auto;
  display: block;
}
body th {
  padding: 8px;
  border-bottom: 1px dashed var(--color-border);
  color: var(--color-accent-2);
  font-weight: bold;
  font-size: 13px;
}
body td {
  padding: 0 8px;
  border-bottom: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
  border-top: 2px solid var(--color-accent-1);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  height: 100%;
  background-color: var(--color-background);
  color: var(--color-text);
  font-display: swap;
  font-weight: 400;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, PingFang-SC-Regular, Hiragino Sans GB, Microsoft Yahei, Arial, sans-serif;
  line-height: 1.725;
  text-rendering: geometricPrecision;
  flex: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
body ::selection {
  color: var(--color-background);
  background-color: var(--color-selection-background);
}
body ::-moz-selection {
  color: var(--color-background);
  background-color: var(--color-selection-background);
}
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  overflow-wrap: break-word;
}
.content p {
  hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
}
.content code {
  hyphens: manual;
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  -webkit-hyphens: manual;
}
.content a {
  color: var(--color-text);
  text-decoration: underline;
  text-decoration-color: var(--color-link-decoration);
}
.content a:hover {
  color: var(--color-link);
}
.content h1 a,
.content .h1 a,
.content h2 a,
.content .h2 a,
.content h3 a,
.content h4 a,
.content h5 a,
.content h6 a {
  color: inherit;
  text-decoration: none;
}
.content h1 a:hover,
.content .h1 a:hover {
  text-decoration: none;
  color: var(--color-background);
  background-color: var(--color-accent-1);
  border-radius: 2px;
}
.content h2 a:hover,
.content .h2 a:hover,
.content h3 a:hover,
.content h4 a:hover,
.content h5 a:hover,
.content h6 a:hover {
  text-decoration: none;
  color: var(--color-background);
  background-color: var(--color-accent-2);
  border-radius: 2px;
}
@media (min-width: 540px) {
  .image-wrap {
    flex-direction: row;
    margin-bottom: 2rem;
  }
  .image-wrap .image-block {
    flex: 1 0 35%;
    margin-right: 2rem;
  }
  .image-wrap p {
    flex: 1 0 65%;
  }
}
.max-width {
  max-width: 48rem;
}
@media (max-width: 480px) {
  .px3 {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .my4 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
@media (min-width: 480px) {
  p {
    text-align: justify;
  }
}
#header {
  margin: 0 auto 2rem;
  width: 100%;
}
#header h1,
#header .h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-text);
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 2rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
#header a {
  background: none;
  color: inherit;
  text-decoration: none;
}
#header #logo {
  display: inline-block;
  float: left;
  margin-right: 16px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
}
#header #nav {
  color: var(--color-accent-1);
  letter-spacing: 0.01em;
  font-weight: 200;
  font-style: normal;
  font-size: 0.8rem;
}
#header #nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 15px;
  display: flex;
  flex-wrap: wrap;
}
#header #nav ul a {
  margin-right: 8px;
  color: var(--color-accent-1);
}
#header #nav ul a:hover {
  text-decoration: none;
  color: var(--color-background);
  background-color: var(--color-link);
  border-radius: 2px;
}
#header #nav ul li {
  margin-right: 8px;
  border-right: 1px dotted;
  border-color: var(--color-accent-1);
  vertical-align: middle;
}
#header #nav ul li:last-child {
  margin-right: 0;
  border-right: 0;
}
#header #nav ul li:last-child a {
  margin-right: 0;
}
@media screen and (max-width: 480px) {
  #header #title {
    display: table;
    margin-right: 5rem;
    min-height: 50px;
  }
  #header #title h1 {
    display: table-cell;
    vertical-align: middle;
  }
  #header #nav ul a:hover {
    background: none;
  }
  #header #nav ul li {
    display: none;
    border-right: 0;
  }
  #header #nav ul li.icon {
    position: absolute;
    top: 77px;
    right: 1rem;
    display: inline-block;
  }
  #header #nav ul.responsive li {
    display: block;
  }
  #header #nav li:not(:first-child) {
    padding-top: 1rem;
    padding-left: 70px;
    font-size: 1rem;
  }
}
#header-post {
  position: fixed;
  top: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  z-index: 100;
}
#header-post a {
  color: inherit;
  text-decoration: none;
}
#header-post ul,
#header-post ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#header-post ul li,
#header-post ol li {
  vertical-align: middle;
}
#header-post #nav {
  color: var(--color-accent-1);
  font-weight: 200;
  font-style: normal;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#header-post #nav #nav-items {
  visibility: hidden;
}
#header-post #nav #nav-items ul {
  display: flex;
  line-height: 15px;
}
#header-post #nav #nav-items ul li a:hover {
  text-decoration: none;
  color: var(--color-background);
  background-color: var(--color-link);
  border-radius: 2px;
}
#header-post #nav #nav-items ul li:not(:last-child) {
  margin-right: 12px;
  border-right: 1px dotted var(--color-accent-1);
}
#header-post #nav #nav-items ul li:not(:last-child) a {
  margin-right: 12px;
}
#header-post #menu-icon,
#header-post #menu-icon-tablet {
  margin-left: 15px;
  line-height: 15px;
  color: var(--color-meta);
}
#header-post #menu-icon:hover,
#header-post #menu-icon-tablet:hover {
  color: var(--color-accent-1);
}
#header-post #menu-icon.active,
#header-post #menu-icon-tablet.active {
  color: var(--color-accent-1);
}
#header-post #menu {
  display: flex;
  flex-direction: column;
  visibility: hidden;
}
#header-post #actions {
  margin-top: 1.25rem;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
#header-post #actions ul {
  display: flex;
  justify-content: flex-end;
}
#header-post #actions ul li:not(:last-child) {
  margin-right: 15px;
}
#header-post #actions .info {
  color: var(--color-meta);
  text-align: right;
  font-style: italic;
  margin-right: 1.25rem;
}
#header-post #toc {
  overflow: auto;
  margin-top: 1rem;
  max-width: 20em;
  max-height: calc(95vh - 7rem);
  text-align: right;
  margin-left: auto;
}
#header-post #toc a:hover {
  text-decoration: none;
  color: var(--color-background);
  background-color: var(--color-link);
  border-radius: 2px;
}
#header-post #toc .toc-level-1 > .toc-link {
  display: none;
}
#header-post #toc .toc-level-2 {
  color: var(--color-text);
  font-size: 0.8rem;
}
#header-post #toc .toc-level-2:before {
  color: var(--color-accent-1);
  margin-right: 4px;
  content: "#";
}
#header-post #toc .toc-level-3 {
  color: var(--color-text);
  font-size: 0.7rem;
}
#header-post #toc .toc-level-3:before {
  color: var(--color-accent-1);
  margin-right: 4px;
  content: "##";
}
#header-post #toc .toc-level-4 {
  color: var(--color-meta);
  font-size: 0.4rem;
}
#header-post #toc .toc-level-5 {
  display: none;
}
#header-post #toc .toc-level-6 {
  display: none;
}
#header-post #top-icon-tablet {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  margin-right: 0.5rem;
}
#header-post #top-icon-tablet:hover {
  color: var(--color-link);
}
@media screen and (max-width: 500px) {
  #header-post {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  #header-post #menu-icon {
    display: none;
  }
  #header-post #actions {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  #header-post #menu-icon-tablet {
    display: none !important;
  }
  #header-post #top-icon-tablet {
    display: none !important;
  }
}
@media screen and (max-width: 1199px) {
  #header-post #toc {
    display: none;
  }
  #header-post #actions {
    flex-direction: column;
  }
  #header-post #actions .info {
    margin-right: 0;
  }
}
#footer-post {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000000;
  width: 100%;
  border-top: 1px solid var(--color-border);
  background: var(--color-footer-mobile-1);
  transition: opacity 0.2s;
}
#footer-post a {
  background: none;
  color: inherit;
  text-decoration: none;
}
#footer-post a.icon {
  background: none;
}
#footer-post a.icon:hover {
  color: var(--color-link);
}
#footer-post #nav-footer {
  padding-right: 1rem;
  padding-left: 1rem;
  background: var(--color-footer-mobile-2);
  text-align: center;
}
#footer-post #nav-footer a {
  color: var(--color-accent-1);
  font-size: 1em;
}
#footer-post #nav-footer a:hover {
  text-decoration: underline;
}
#footer-post #nav-footer ul {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}
#footer-post #nav-footer ul li {
  display: inline-table;
  padding: 10px;
  vertical-align: middle;
}
#footer-post #actions-footer {
  overflow: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
  text-align: center;
  white-space: nowrap;
}
#footer-post #actions-footer a {
  display: inline-block;
  padding-left: 1rem;
  color: var(--color-accent-1);
}
#footer-post #share-footer {
  padding-right: 1rem;
  padding-left: 1rem;
  background: var(--color-footer-mobile-2);
  text-align: center;
}
#footer-post #share-footer ul {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}
#footer-post #share-footer ul li {
  display: inline-table;
  padding: 10px;
  width: 20%;
  vertical-align: middle;
}
#footer-post #toc-footer {
  clear: both;
  padding-bottom: 1rem;
  background: var(--color-footer-mobile-2);
  text-align: left;
}
#footer-post #toc-footer ol {
  margin: 0;
  padding-left: 20px;
  list-style-type: none;
}
#footer-post #toc-footer ol li {
  line-height: 24px;
}
#footer-post #toc-footer a:hover {
  color: var(--color-link);
}
#footer-post #toc-footer .toc-level-1 > .toc-link {
  display: none;
}
#footer-post #toc-footer .toc-level-2 {
  color: var(--color-text);
  font-size: 0.8rem;
}
#footer-post #toc-footer .toc-level-2:before {
  color: var(--color-accent-1);
  margin-right: 2px;
  content: "#";
}
#footer-post #toc-footer .toc-level-3 {
  color: var(--color-meta);
  font-size: 0.8rem;
}
#footer-post #toc-footer .toc-level-4 {
  display: none;
}
#footer-post #toc-footer .toc-level-5 {
  display: none;
}
#footer-post #toc-footer .toc-level-6 {
  display: none;
}
#footer-post #toc-footer .toc-number {
  display: none;
}
@media screen and (min-width: 500px) {
  #footer-post-container {
    display: none;
  }
}
#about .social-links {
  display: inline-flex;
  text-decoration: none;
}
#about .social-links .icon:not(:last-child) {
  margin-right: 6px;
}
#writing .post-tags a {
  font-size: inherit !important;
}
#writing .post-tags a:before {
  content: "#";
}
#writing .post-tags a:not(:last-child):after {
  content: ", ";
  display: inline-block;
  text-decoration: none;
}
#writing .post-list {
  padding: 0;
}
#writing .post-list .post-item {
  margin-bottom: 1rem;
  margin-left: 0;
  list-style-type: none;
}
#writing .post-list .post-item .meta {
  display: block;
  min-width: 110px;
  color: var(--color-meta);
  font-size: 14px;
  text-align: left;
  text-align-last: left;
}
@media (min-width: 480px) {
  #writing .post-list .post-item {
    display: flex;
    margin-bottom: 5px;
    margin-right: 1rem;
  }
  #writing .post-list .post-item .meta {
    margin-right: 1rem;
    text-align: justify;
    text-align-last: justify;
  }
}
#projects .project-list {
  padding: 0;
  list-style: none;
}
#projects .project-list .project-item {
  margin-bottom: 5px;
}
#projects .project-list .project-item p {
  display: inline;
}
article header .posttitle {
  margin-top: 0;
  margin-bottom: 0.25rem;
  text-transform: none;
  font-size: 1.5em;
  line-height: 1.25;
}
article header .meta {
  margin-top: 0;
  margin-bottom: 1rem;
}
article header .meta * {
  color: var(--color-meta);
  font-size: 0.85rem;
}
article header .author {
  text-transform: uppercase;
  font-weight: 700;
}
article header .postdate {
  display: inline;
}
article header .postdate:before {
  content: "|";
  margin: 0 4px;
}
article header .outdated-warn {
  color: var(--color-accent-1);
  font-weight: bold;
}
article .content h2 .header-anchor:before {
  color: var(--color-accent-2);
  font-weight: bold;
  position: absolute;
  top: -4px;
  left: -1em;
  content: "#";
  font-size: 1.2rem;
}
article .content h3:hover .header-anchor:before {
  color: var(--color-accent-2);
  position: absolute;
  top: -1px;
  left: -1.7em;
  content: "##";
  font-size: 1rem;
}
article .content h4:hover .header-anchor:before {
  color: var(--color-accent-2);
  position: absolute;
  top: -1px;
  left: -2.4em;
  content: "###";
  font-size: 1rem;
}
article .content h5:hover .header-anchor:before {
  color: var(--color-accent-2);
  position: absolute;
  top: -1px;
  left: -3.1em;
  content: "####";
  font-size: 1rem;
}
article .content h6:hover .header-anchor:before {
  color: var(--color-accent-2);
  position: absolute;
  top: -1px;
  left: -3.8em;
  content: "#####";
  font-size: 1rem;
}
article .content a .ext-link-icon {
  padding-left: 4px;
}
article .content img,
article .content video {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}
article .content .video-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  height: 0;
}
article .content .video-container iframe,
article .content .video-container object,
article .content .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  width: 100%;
  height: 100%;
}
article .content blockquote {
  margin: 1rem 0 1rem 12px;
  padding: 0.5em 0 0.5em 12px;
  background: inherit;
  color: var(--color-quote);
  quotes: "\201C" "\201D" "\2018" "\2019";
  font-weight: bold;
}
article .content blockquote p {
  margin: 0;
}
article .content blockquote:before {
  margin-right: 0.25em;
  color: var(--color-quote);
  content: "\201C";
  vertical-align: -0.4em;
  font-size: 2em;
  line-height: 0.1em;
}
article .content blockquote a {
  color: var(--color-quote);
}
article .content blockquote a:hover {
  text-decoration: none;
  color: var(--color-background);
  background-color: var(--color-quote);
  border-radius: 2px;
}
article .content blockquote footer {
  margin: line-height 0;
  color: var(--color-meta);
  font-size: 12px;
}
article .content blockquote footer a {
  color: var(--color-meta);
  text-decoration-color: var(--color-text);
}
article .content blockquote footer a:hover {
  color: var(--color-link);
  text-decoration-color: var(--color-link-decoration);
}
article .content blockquote footer cite:before {
  padding: 0 0.5em;
  content: "—";
}
article .content .pullquote {
  margin: 0;
  width: 45%;
  text-align: left;
}
article .content .pullquote.left {
  margin-right: 1em;
  margin-left: 0.5em;
}
article .content .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
article .content .caption {
  position: relative;
  display: block;
  margin-top: 0.5em;
  color: var(--color-meta);
  text-align: center;
  font-size: 0.9em;
}
.posttitle {
  text-transform: none;
  font-size: 1.5em;
  line-height: 1.25;
}
.article-tag .tag-link {
  text-decoration: underline;
}
.article-tag .tag-link:before {
  content: "#";
}
.article-tag .tag-link:hover {
  color: var(--color-link);
}
.article-category .category-link {
  text-decoration: underline;
}
.article-category .category-link:hover {
  color: var(--color-link);
}
@media (min-width: 480px) {
  .article-tag,
  .article-category {
    display: inline;
  }
  .article-tag:before,
  .article-category:before {
    content: "|";
  }
}
@media (max-width: 480px) {
  article .content h2:before {
    position: initial;
    margin-right: 4px;
  }
}
#archive .post-list {
  padding: 0;
}
#archive .post-list .post-item {
  margin-bottom: 1rem;
  margin-left: 0;
  list-style-type: none;
}
#archive .post-list .post-item .meta {
  display: block;
  min-width: 110px;
  color: var(--color-meta);
  font-size: 14px;
  text-align: left;
  text-align-last: left;
}
@media (min-width: 480px) {
  #archive .post-list .post-item {
    display: flex;
    margin-bottom: 5px;
    margin-left: 1rem;
  }
  #archive .post-list .post-item .meta {
    margin-right: 1rem;
    text-align: justify;
    text-align-last: justify;
  }
}
.post-footer-content .copyright {
  margin-top: 1rem;
  padding: 10px 15px;
  border: 1px dotted var(--color-border);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  line-height: 1.75em;
  color: var(--color-text);
}
.post-footer-content .copyright a {
  text-decoration-color: var(--color-text);
}
.post-footer-content .copyright a:hover {
  text-decoration-color: var(--color-link-decoration);
}
.post-footer-content .copyright dl {
  margin: 0;
  text-align: left;
  word-break: break-all;
}
.post-footer-content .copyright dt {
  font-weight: bold;
  float: left;
  clear: left;
  width: 5em;
}
.post-footer-content .copyright dd {
  margin-left: 5em;
}
.post-footer-content .copyright dd .btn-copy {
  margin-left: 4px;
  text-decoration: none;
}
.post-footer-thirdparty {
  margin-top: 2rem;
  border-top: 1px dashed var(--color-border);
}
.post-footer-thirdparty .blog-post-share {
  margin-top: 2rem;
}
.post-footer-thirdparty .blog-post-share .share-js-component {
  text-align: center;
}
.post-footer-thirdparty .blog-post-comments {
  margin-top: 2rem;
}
#footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  width: 100%;
  color: var(--color-meta);
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}
#footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#footer li {
  line-height: 15px;
  margin-right: 12px;
  border-right: 1px solid;
  border-color: var(--color-border);
  vertical-align: middle;
}
#footer li a {
  margin-right: 12px;
}
#footer li:last-child {
  margin-right: 0;
  border-right: 0;
}
#footer li:last-child a {
  margin-right: 0;
}
#footer a {
  color: var(--color-meta);
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
#footer .footer-left {
  height: 20px;
  vertical-align: middle;
  line-height: 20px;
}
@media (max-width: 39rem) {
  #footer {
    flex-flow: column;
  }
  #footer .footer-left {
    margin-bottom: 4px;
  }
}
.pagination {
  display: inline-block;
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}
.pagination .page-number {
  color: var(--color-text);
  font-size: 0.8rem;
}
.pagination a {
  padding: 4px 6px;
  border-radius: 5px;
  color: var(--color-meta);
  text-decoration: none;
}
.pagination a:hover {
  color: var(--color-link);
}
.search-input {
  padding: 4px 7px;
  width: 100%;
  outline: none;
  border: solid 1px var(--color-border);
  border-radius: 5px;
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: 1.2rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.search-input:focus {
  border: solid 1px var(--color-accent-1);
}
#search-result ul.search-result-list {
  padding: 0;
  list-style-type: none;
}
#search-result li {
  margin: 2em auto;
}
#search-result a.search-result-title {
  background-image: none;
  color: var(--color-text);
  text-transform: capitalize;
  font-weight: bold;
  line-height: 1.2;
}
#search-result p.search-result {
  overflow: hidden;
  margin: 0.4em auto;
  max-height: 13em;
  text-align: justify;
  font-size: 0.8em;
}
#search-result em.search-keyword {
  border-bottom: 1px dashed var(--color-link);
  color: var(--color-link);
  font-weight: bold;
}
.search-no-result {
  display: none;
  padding-bottom: 0.5em;
  color: var(--color-text);
}
#tag-cloud .tag-cloud-title {
  color: var(--color-meta);
}
#tag-cloud .tag-cloud-tags {
  clear: both;
}
#tag-cloud .tag-cloud-tags a {
  display: inline-block;
  margin: 10px;
}
#tag-cloud .tag-cloud-tags a:before {
  content: "#";
}
.tooltipped {
  position: relative;
}
.tooltipped::after {
  position: absolute;
  z-index: 1000000;
  display: none;
  padding: 0.2em 0.5em;
  -webkit-font-smoothing: subpixel-antialiased;
  color: var(--color-background);
  font-display: swap;
  font-weight: 400;
  font-size: 11.200000000000001px;
  font-family: -apple-system, BlinkMacSystemFont, PingFang-SC-Regular, Hiragino Sans GB, Microsoft Yahei, Arial, sans-serif;
  line-height: 1.725;
  text-rendering: geometricPrecision;
  text-align: center;
  word-wrap: break-word;
  white-space: pre;
  content: attr(aria-label);
  background: var(--color-text);
  border-radius: 3px;
  opacity: 0;
}
.tooltipped::before {
  position: absolute;
  z-index: 1000001;
  display: none;
  width: 0;
  height: 0;
  color: var(--color-text);
  pointer-events: none;
  content: "";
  border: 6px solid transparent;
  opacity: 0;
}
.tooltipped:hover::before,
.tooltipped:active::before,
.tooltipped:focus::before,
.tooltipped:hover::after,
.tooltipped:active::after,
.tooltipped:focus::after {
  display: inline-block;
  text-decoration: none;
  animation-name: tooltip-appear;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
.tooltipped-s::after,
.tooltipped-sw::after {
  top: 100%;
  right: 50%;
  margin-top: 6px;
}
.tooltipped-s::before,
.tooltipped-sw::before {
  top: auto;
  right: 50%;
  bottom: -7px;
  margin-right: -6px;
  border-bottom-color: var(--color-text);
}
.tooltipped-sw::after {
  margin-right: -16px;
}
.tooltipped-s::after {
  transform: translateX(50%);
}
@-moz-keyframes tooltip-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes tooltip-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes tooltip-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes tooltip-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#categories .category-list-title {
  color: var(--color-meta);
}
#categories .category-list .category-list-item .category-list-count {
  color: var(--color-meta);
}
#categories .category-list .category-list-item .category-list-count:before {
  content: " (";
}
#categories .category-list .category-list-item .category-list-count:after {
  content: ")";
}
.shaky {
  display: inline-block;
  padding: 1px;
  font-size: 12px;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-animation-name: shaky-slow;
  -ms-animation-name: shaky-slow;
  animation-name: shaky-slow;
  -webkit-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-play-state: running;
  -ms-animation-play-state: running;
  animation-play-state: running;
}
@-webkit-keyframes shaky-slow {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }
  2% {
    -webkit-transform: translate(-1px, 1.5px) rotate(1.5deg);
  }
  4% {
    -webkit-transform: translate(1.3px, 0px) rotate(-0.5deg);
  }
  6% {
    -webkit-transform: translate(1.4px, 1.4px) rotate(-2deg);
  }
  8% {
    -webkit-transform: translate(-1.3px, -1px) rotate(-1.5deg);
  }
  10% {
    -webkit-transform: translate(1.4px, 0px) rotate(-2deg);
  }
  12% {
    -webkit-transform: translate(-1.3px, -1px) rotate(-2deg);
  }
  14% {
    -webkit-transform: translate(1.5px, 1.3px) rotate(1.5deg);
  }
  16% {
    -webkit-transform: translate(1.5px, -1.5px) rotate(-1.5deg);
  }
  18% {
    -webkit-transform: translate(1.3px, -1.3px) rotate(-2deg);
  }
  20% {
    -webkit-transform: translate(1px, 1px) rotate(-0.5deg);
  }
  22% {
    -webkit-transform: translate(1.3px, 1.5px) rotate(-2deg);
  }
  24% {
    -webkit-transform: translate(-1.4px, -1px) rotate(2deg);
  }
  26% {
    -webkit-transform: translate(1.3px, -1.3px) rotate(0.5deg);
  }
  28% {
    -webkit-transform: translate(1.6px, -1.6px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translate(-1.3px, -1.3px) rotate(-1.5deg);
  }
  32% {
    -webkit-transform: translate(-1px, 0px) rotate(2deg);
  }
  34% {
    -webkit-transform: translate(1.3px, 1.3px) rotate(-0.5deg);
  }
  36% {
    -webkit-transform: translate(1.3px, 1.6px) rotate(1.5deg);
  }
  38% {
    -webkit-transform: translate(1.3px, -1.6px) rotate(1.5deg);
  }
  40% {
    -webkit-transform: translate(-1.4px, -1px) rotate(-0.5deg);
  }
  42% {
    -webkit-transform: translate(-1.4px, 1.3px) rotate(-0.5deg);
  }
  44% {
    -webkit-transform: translate(-1.6px, 1.4px) rotate(0.5deg);
  }
  46% {
    -webkit-transform: translate(-2.1px, -1.3px) rotate(-0.5deg);
  }
  48% {
    -webkit-transform: translate(1px, 1.6px) rotate(1.5deg);
  }
  50% {
    -webkit-transform: translate(1.6px, 1.6px) rotate(1.5deg);
  }
  52% {
    -webkit-transform: translate(-1.4px, 1.6px) rotate(0.5deg);
  }
  54% {
    -webkit-transform: translate(1.6px, -1px) rotate(-2deg);
  }
  56% {
    -webkit-transform: translate(1.3px, -1.6px) rotate(-2deg);
  }
  58% {
    -webkit-transform: translate(-1.3px, -1.6px) rotate(0.5deg);
  }
  60% {
    -webkit-transform: translate(1.3px, 1.6px) rotate(-0.5deg);
  }
  62% {
    -webkit-transform: translate(0px, 0px) rotate(-1.5deg);
  }
  64% {
    -webkit-transform: translate(-1.6px, -1.6px) rotate(-2deg);
  }
  66% {
    -webkit-transform: translate(1.6px, -1.6px) rotate(0.5deg);
  }
  68% {
    -webkit-transform: translate(0px, -1.6px) rotate(-2deg);
  }
  70% {
    -webkit-transform: translate(-1.6px, 1px) rotate(1.5deg);
  }
  72% {
    -webkit-transform: translate(-1.6px, 1.6px) rotate(2deg);
  }
  74% {
    -webkit-transform: translate(1.3px, -1.6px) rotate(-0.5deg);
  }
  76% {
    -webkit-transform: translate(1.4px, 1px) rotate(-0.5deg);
  }
  78% {
    -webkit-transform: translate(-1px, 1.4px) rotate(2deg);
  }
  80% {
    -webkit-transform: translate(1.4px, 1.6px) rotate(2deg);
  }
  82% {
    -webkit-transform: translate(-1.6px, -1.6px) rotate(-0.5deg);
  }
  84% {
    -webkit-transform: translate(-1.4px, 1.4px) rotate(-2deg);
  }
  86% {
    -webkit-transform: translate(1px, 1.4px) rotate(-2deg);
  }
  88% {
    -webkit-transform: translate(-1.4px, 1.4px) rotate(-1.5deg);
  }
  90% {
    -webkit-transform: translate(-1.6px, -1.6px) rotate(-2deg);
  }
  92% {
    -webkit-transform: translate(-1.6px, 1.6px) rotate(2deg);
  }
  94% {
    -webkit-transform: translate(-1.6px, -1.6px) rotate(-2deg);
  }
  96% {
    -webkit-transform: translate(-1.4px, 1.3px) rotate(-2deg);
  }
  98% {
    -webkit-transform: translate(1.3px, 1px) rotate(-0.5deg);
  }
}
.weixin-box {
  position: fixed;
  bottom: 20px;
  left: 0;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
}
.weixin-menu {
  position: relative;
  height: 24px;
  width: 24px;
  cursor: pointer;
  background: url("https://b-l.oss-cn-hongkong.aliyuncs.com/photos/1.gif");
  background-size: 24px 24px;
}
.weixin-hover {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 0px;
  width: 0px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
  background: url("/images/wechat.jpg");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 150px 150px;
  transition: all 0.35s ease-in-out;
  z-index: 1024;
  opacity: 0;
}
.weixin-menu:hover .weixin-hover {
  bottom: 24px;
  left: 24px;
  height: 170px;
  width: 150px;
  opacity: 1;
}
.weixin-description {
  opacity: 0;
  position: absolute;
  bottom: 0%;
  left: 5%;
  right: 5%;
  font-size: 12px;
  color: #000;
  transition: all 0.35s cubic-bezier(1, 0, 0, 1);
  text-align: center;
}
.weixin-menu:hover .weixin-description {
  opacity: 1;
}
@-moz-keyframes shaky-slow {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  2% {
    transform: translate(-1px, 1.5px) rotate(1.5deg);
  }
  4% {
    transform: translate(1.3px, 0px) rotate(-0.5deg);
  }
  6% {
    transform: translate(1.4px, 1.4px) rotate(-2deg);
  }
  8% {
    transform: translate(-1.3px, -1px) rotate(-1.5deg);
  }
  10% {
    transform: translate(1.4px, 0px) rotate(-2deg);
  }
  12% {
    transform: translate(-1.3px, -1px) rotate(-2deg);
  }
  14% {
    transform: translate(1.5px, 1.3px) rotate(1.5deg);
  }
  16% {
    transform: translate(1.5px, -1.5px) rotate(-1.5deg);
  }
  18% {
    transform: translate(1.3px, -1.3px) rotate(-2deg);
  }
  20% {
    transform: translate(1px, 1px) rotate(-0.5deg);
  }
  22% {
    transform: translate(1.3px, 1.5px) rotate(-2deg);
  }
  24% {
    transform: translate(-1.4px, -1px) rotate(2deg);
  }
  26% {
    transform: translate(1.3px, -1.3px) rotate(0.5deg);
  }
  28% {
    transform: translate(1.6px, -1.6px) rotate(-1.5deg);
  }
  30% {
    transform: translate(-1.3px, -1.3px) rotate(-1.5deg);
  }
  32% {
    transform: translate(-1px, 0px) rotate(2deg);
  }
  34% {
    transform: translate(1.3px, 1.3px) rotate(-0.5deg);
  }
  36% {
    transform: translate(1.3px, 1.6px) rotate(1.5deg);
  }
  38% {
    transform: translate(1.3px, -1.6px) rotate(1.5deg);
  }
  40% {
    transform: translate(-1.4px, -1px) rotate(-0.5deg);
  }
  42% {
    transform: translate(-1.4px, 1.3px) rotate(-0.5deg);
  }
  44% {
    transform: translate(-1.6px, 1.4px) rotate(0.5deg);
  }
  46% {
    transform: translate(-2.1px, -1.3px) rotate(-0.5deg);
  }
  48% {
    transform: translate(1px, 1.6px) rotate(1.5deg);
  }
  50% {
    transform: translate(1.6px, 1.6px) rotate(1.5deg);
  }
  52% {
    transform: translate(-1.4px, 1.6px) rotate(0.5deg);
  }
  54% {
    transform: translate(1.6px, -1px) rotate(-2deg);
  }
  56% {
    transform: translate(1.3px, -1.6px) rotate(-2deg);
  }
  58% {
    transform: translate(-1.3px, -1.6px) rotate(0.5deg);
  }
  60% {
    transform: translate(1.3px, 1.6px) rotate(-0.5deg);
  }
  62% {
    transform: translate(0px, 0px) rotate(-1.5deg);
  }
  64% {
    transform: translate(-1.6px, -1.6px) rotate(-2deg);
  }
  66% {
    transform: translate(1.6px, -1.6px) rotate(0.5deg);
  }
  68% {
    transform: translate(0px, -1.6px) rotate(-2deg);
  }
  70% {
    transform: translate(-1.6px, 1px) rotate(1.5deg);
  }
  72% {
    transform: translate(-1.6px, 1.6px) rotate(2deg);
  }
  74% {
    transform: translate(1.3px, -1.6px) rotate(-0.5deg);
  }
  76% {
    transform: translate(1.4px, 1px) rotate(-0.5deg);
  }
  78% {
    transform: translate(-1px, 1.4px) rotate(2deg);
  }
  80% {
    transform: translate(1.4px, 1.6px) rotate(2deg);
  }
  82% {
    transform: translate(-1.6px, -1.6px) rotate(-0.5deg);
  }
  84% {
    transform: translate(-1.4px, 1.4px) rotate(-2deg);
  }
  86% {
    transform: translate(1px, 1.4px) rotate(-2deg);
  }
  88% {
    transform: translate(-1.4px, 1.4px) rotate(-1.5deg);
  }
  90% {
    transform: translate(-1.6px, -1.6px) rotate(-2deg);
  }
  92% {
    transform: translate(-1.4px, 1.6px) rotate(2deg);
  }
  94% {
    transform: translate(-1.6px, -1.6px) rotate(-2deg);
  }
  96% {
    transform: translate(-1.4px, 1.3px) rotate(-2deg);
  }
  98% {
    transform: translate(1.3px, 1px) rotate(-0.5deg);
  }
}
@-webkit-keyframes shaky-slow {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  2% {
    transform: translate(-1px, 1.5px) rotate(1.5deg);
  }
  4% {
    transform: translate(1.3px, 0px) rotate(-0.5deg);
  }
  6% {
    transform: translate(1.4px, 1.4px) rotate(-2deg);
  }
  8% {
    transform: translate(-1.3px, -1px) rotate(-1.5deg);
  }
  10% {
    transform: translate(1.4px, 0px) rotate(-2deg);
  }
  12% {
    transform: translate(-1.3px, -1px) rotate(-2deg);
  }
  14% {
    transform: translate(1.5px, 1.3px) rotate(1.5deg);
  }
  16% {
    transform: translate(1.5px, -1.5px) rotate(-1.5deg);
  }
  18% {
    transform: translate(1.3px, -1.3px) rotate(-2deg);
  }
  20% {
    transform: translate(1px, 1px) rotate(-0.5deg);
  }
  22% {
    transform: translate(1.3px, 1.5px) rotate(-2deg);
  }
  24% {
    transform: translate(-1.4px, -1px) rotate(2deg);
  }
  26% {
    transform: translate(1.3px, -1.3px) rotate(0.5deg);
  }
  28% {
    transform: translate(1.6px, -1.6px) rotate(-1.5deg);
  }
  30% {
    transform: translate(-1.3px, -1.3px) rotate(-1.5deg);
  }
  32% {
    transform: translate(-1px, 0px) rotate(2deg);
  }
  34% {
    transform: translate(1.3px, 1.3px) rotate(-0.5deg);
  }
  36% {
    transform: translate(1.3px, 1.6px) rotate(1.5deg);
  }
  38% {
    transform: translate(1.3px, -1.6px) rotate(1.5deg);
  }
  40% {
    transform: translate(-1.4px, -1px) rotate(-0.5deg);
  }
  42% {
    transform: translate(-1.4px, 1.3px) rotate(-0.5deg);
  }
  44% {
    transform: translate(-1.6px, 1.4px) rotate(0.5deg);
  }
  46% {
    transform: translate(-2.1px, -1.3px) rotate(-0.5deg);
  }
  48% {
    transform: translate(1px, 1.6px) rotate(1.5deg);
  }
  50% {
    transform: translate(1.6px, 1.6px) rotate(1.5deg);
  }
  52% {
    transform: translate(-1.4px, 1.6px) rotate(0.5deg);
  }
  54% {
    transform: translate(1.6px, -1px) rotate(-2deg);
  }
  56% {
    transform: translate(1.3px, -1.6px) rotate(-2deg);
  }
  58% {
    transform: translate(-1.3px, -1.6px) rotate(0.5deg);
  }
  60% {
    transform: translate(1.3px, 1.6px) rotate(-0.5deg);
  }
  62% {
    transform: translate(0px, 0px) rotate(-1.5deg);
  }
  64% {
    transform: translate(-1.6px, -1.6px) rotate(-2deg);
  }
  66% {
    transform: translate(1.6px, -1.6px) rotate(0.5deg);
  }
  68% {
    transform: translate(0px, -1.6px) rotate(-2deg);
  }
  70% {
    transform: translate(-1.6px, 1px) rotate(1.5deg);
  }
  72% {
    transform: translate(-1.6px, 1.6px) rotate(2deg);
  }
  74% {
    transform: translate(1.3px, -1.6px) rotate(-0.5deg);
  }
  76% {
    transform: translate(1.4px, 1px) rotate(-0.5deg);
  }
  78% {
    transform: translate(-1px, 1.4px) rotate(2deg);
  }
  80% {
    transform: translate(1.4px, 1.6px) rotate(2deg);
  }
  82% {
    transform: translate(-1.6px, -1.6px) rotate(-0.5deg);
  }
  84% {
    transform: translate(-1.4px, 1.4px) rotate(-2deg);
  }
  86% {
    transform: translate(1px, 1.4px) rotate(-2deg);
  }
  88% {
    transform: translate(-1.4px, 1.4px) rotate(-1.5deg);
  }
  90% {
    transform: translate(-1.6px, -1.6px) rotate(-2deg);
  }
  92% {
    transform: translate(-1.4px, 1.6px) rotate(2deg);
  }
  94% {
    transform: translate(-1.6px, -1.6px) rotate(-2deg);
  }
  96% {
    transform: translate(-1.4px, 1.3px) rotate(-2deg);
  }
  98% {
    transform: translate(1.3px, 1px) rotate(-0.5deg);
  }
}
@-o-keyframes shaky-slow {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  2% {
    transform: translate(-1px, 1.5px) rotate(1.5deg);
  }
  4% {
    transform: translate(1.3px, 0px) rotate(-0.5deg);
  }
  6% {
    transform: translate(1.4px, 1.4px) rotate(-2deg);
  }
  8% {
    transform: translate(-1.3px, -1px) rotate(-1.5deg);
  }
  10% {
    transform: translate(1.4px, 0px) rotate(-2deg);
  }
  12% {
    transform: translate(-1.3px, -1px) rotate(-2deg);
  }
  14% {
    transform: translate(1.5px, 1.3px) rotate(1.5deg);
  }
  16% {
    transform: translate(1.5px, -1.5px) rotate(-1.5deg);
  }
  18% {
    transform: translate(1.3px, -1.3px) rotate(-2deg);
  }
  20% {
    transform: translate(1px, 1px) rotate(-0.5deg);
  }
  22% {
    transform: translate(1.3px, 1.5px) rotate(-2deg);
  }
  24% {
    transform: translate(-1.4px, -1px) rotate(2deg);
  }
  26% {
    transform: translate(1.3px, -1.3px) rotate(0.5deg);
  }
  28% {
    transform: translate(1.6px, -1.6px) rotate(-1.5deg);
  }
  30% {
    transform: translate(-1.3px, -1.3px) rotate(-1.5deg);
  }
  32% {
    transform: translate(-1px, 0px) rotate(2deg);
  }
  34% {
    transform: translate(1.3px, 1.3px) rotate(-0.5deg);
  }
  36% {
    transform: translate(1.3px, 1.6px) rotate(1.5deg);
  }
  38% {
    transform: translate(1.3px, -1.6px) rotate(1.5deg);
  }
  40% {
    transform: translate(-1.4px, -1px) rotate(-0.5deg);
  }
  42% {
    transform: translate(-1.4px, 1.3px) rotate(-0.5deg);
  }
  44% {
    transform: translate(-1.6px, 1.4px) rotate(0.5deg);
  }
  46% {
    transform: translate(-2.1px, -1.3px) rotate(-0.5deg);
  }
  48% {
    transform: translate(1px, 1.6px) rotate(1.5deg);
  }
  50% {
    transform: translate(1.6px, 1.6px) rotate(1.5deg);
  }
  52% {
    transform: translate(-1.4px, 1.6px) rotate(0.5deg);
  }
  54% {
    transform: translate(1.6px, -1px) rotate(-2deg);
  }
  56% {
    transform: translate(1.3px, -1.6px) rotate(-2deg);
  }
  58% {
    transform: translate(-1.3px, -1.6px) rotate(0.5deg);
  }
  60% {
    transform: translate(1.3px, 1.6px) rotate(-0.5deg);
  }
  62% {
    transform: translate(0px, 0px) rotate(-1.5deg);
  }
  64% {
    transform: translate(-1.6px, -1.6px) rotate(-2deg);
  }
  66% {
    transform: translate(1.6px, -1.6px) rotate(0.5deg);
  }
  68% {
    transform: translate(0px, -1.6px) rotate(-2deg);
  }
  70% {
    transform: translate(-1.6px, 1px) rotate(1.5deg);
  }
  72% {
    transform: translate(-1.6px, 1.6px) rotate(2deg);
  }
  74% {
    transform: translate(1.3px, -1.6px) rotate(-0.5deg);
  }
  76% {
    transform: translate(1.4px, 1px) rotate(-0.5deg);
  }
  78% {
    transform: translate(-1px, 1.4px) rotate(2deg);
  }
  80% {
    transform: translate(1.4px, 1.6px) rotate(2deg);
  }
  82% {
    transform: translate(-1.6px, -1.6px) rotate(-0.5deg);
  }
  84% {
    transform: translate(-1.4px, 1.4px) rotate(-2deg);
  }
  86% {
    transform: translate(1px, 1.4px) rotate(-2deg);
  }
  88% {
    transform: translate(-1.4px, 1.4px) rotate(-1.5deg);
  }
  90% {
    transform: translate(-1.6px, -1.6px) rotate(-2deg);
  }
  92% {
    transform: translate(-1.4px, 1.6px) rotate(2deg);
  }
  94% {
    transform: translate(-1.6px, -1.6px) rotate(-2deg);
  }
  96% {
    transform: translate(-1.4px, 1.3px) rotate(-2deg);
  }
  98% {
    transform: translate(1.3px, 1px) rotate(-0.5deg);
  }
}
@keyframes shaky-slow {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  2% {
    transform: translate(-1px, 1.5px) rotate(1.5deg);
  }
  4% {
    transform: translate(1.3px, 0px) rotate(-0.5deg);
  }
  6% {
    transform: translate(1.4px, 1.4px) rotate(-2deg);
  }
  8% {
    transform: translate(-1.3px, -1px) rotate(-1.5deg);
  }
  10% {
    transform: translate(1.4px, 0px) rotate(-2deg);
  }
  12% {
    transform: translate(-1.3px, -1px) rotate(-2deg);
  }
  14% {
    transform: translate(1.5px, 1.3px) rotate(1.5deg);
  }
  16% {
    transform: translate(1.5px, -1.5px) rotate(-1.5deg);
  }
  18% {
    transform: translate(1.3px, -1.3px) rotate(-2deg);
  }
  20% {
    transform: translate(1px, 1px) rotate(-0.5deg);
  }
  22% {
    transform: translate(1.3px, 1.5px) rotate(-2deg);
  }
  24% {
    transform: translate(-1.4px, -1px) rotate(2deg);
  }
  26% {
    transform: translate(1.3px, -1.3px) rotate(0.5deg);
  }
  28% {
    transform: translate(1.6px, -1.6px) rotate(-1.5deg);
  }
  30% {
    transform: translate(-1.3px, -1.3px) rotate(-1.5deg);
  }
  32% {
    transform: translate(-1px, 0px) rotate(2deg);
  }
  34% {
    transform: translate(1.3px, 1.3px) rotate(-0.5deg);
  }
  36% {
    transform: translate(1.3px, 1.6px) rotate(1.5deg);
  }
  38% {
    transform: translate(1.3px, -1.6px) rotate(1.5deg);
  }
  40% {
    transform: translate(-1.4px, -1px) rotate(-0.5deg);
  }
  42% {
    transform: translate(-1.4px, 1.3px) rotate(-0.5deg);
  }
  44% {
    transform: translate(-1.6px, 1.4px) rotate(0.5deg);
  }
  46% {
    transform: translate(-2.1px, -1.3px) rotate(-0.5deg);
  }
  48% {
    transform: translate(1px, 1.6px) rotate(1.5deg);
  }
  50% {
    transform: translate(1.6px, 1.6px) rotate(1.5deg);
  }
  52% {
    transform: translate(-1.4px, 1.6px) rotate(0.5deg);
  }
  54% {
    transform: translate(1.6px, -1px) rotate(-2deg);
  }
  56% {
    transform: translate(1.3px, -1.6px) rotate(-2deg);
  }
  58% {
    transform: translate(-1.3px, -1.6px) rotate(0.5deg);
  }
  60% {
    transform: translate(1.3px, 1.6px) rotate(-0.5deg);
  }
  62% {
    transform: translate(0px, 0px) rotate(-1.5deg);
  }
  64% {
    transform: translate(-1.6px, -1.6px) rotate(-2deg);
  }
  66% {
    transform: translate(1.6px, -1.6px) rotate(0.5deg);
  }
  68% {
    transform: translate(0px, -1.6px) rotate(-2deg);
  }
  70% {
    transform: translate(-1.6px, 1px) rotate(1.5deg);
  }
  72% {
    transform: translate(-1.6px, 1.6px) rotate(2deg);
  }
  74% {
    transform: translate(1.3px, -1.6px) rotate(-0.5deg);
  }
  76% {
    transform: translate(1.4px, 1px) rotate(-0.5deg);
  }
  78% {
    transform: translate(-1px, 1.4px) rotate(2deg);
  }
  80% {
    transform: translate(1.4px, 1.6px) rotate(2deg);
  }
  82% {
    transform: translate(-1.6px, -1.6px) rotate(-0.5deg);
  }
  84% {
    transform: translate(-1.4px, 1.4px) rotate(-2deg);
  }
  86% {
    transform: translate(1px, 1.4px) rotate(-2deg);
  }
  88% {
    transform: translate(-1.4px, 1.4px) rotate(-1.5deg);
  }
  90% {
    transform: translate(-1.6px, -1.6px) rotate(-2deg);
  }
  92% {
    transform: translate(-1.4px, 1.6px) rotate(2deg);
  }
  94% {
    transform: translate(-1.6px, -1.6px) rotate(-2deg);
  }
  96% {
    transform: translate(-1.4px, 1.3px) rotate(-2deg);
  }
  98% {
    transform: translate(1.3px, 1px) rotate(-0.5deg);
  }
}
.highlight {
  background: #282b2e;
  color: #a9b7c6;
}
.highlight .code .number,
.highlight .code .literal,
.highlight .code .symbol,
.highlight .code .bullet {
  color: #6897bb;
}
.highlight .code .keyword,
.highlight .code .selector-tag,
.highlight .code .deletion {
  color: #cc7832;
}
.highlight .code .variable,
.highlight .code .template-variable,
.highlight .code .link {
  color: #629755;
}
.highlight .code .comment,
.highlight .code .quote {
  color: #808080;
}
.highlight .code .meta {
  color: #bbb529;
}
.highlight .code .string,
.highlight .code .attribute,
.highlight .code .addition {
  color: #6a8759;
}
.highlight .code .section,
.highlight .code .title,
.highlight .code .type {
  color: #ffc66d;
}
.highlight .code .name,
.highlight .code .selector-id,
.highlight .code .selector-class {
  color: #e8bf6a;
}
.highlight .code .emphasis {
  font-style: italic;
}
.highlight .code .strong {
  font-weight: bold;
}
pre {
  overflow-x: auto;
  padding: 10px;
  border: 1px dotted var(--color-border);
  border-radius: 4px;
  font-size: 13px;
  font-family: Source Code Pro, Consolas, Liberation Mono, Menlo, Courier, monospace;
  line-height: 22px;
  -webkit-border-radius: 4px;
}
pre code {
  display: block;
  padding: 0;
  border: none;
}
code {
  padding: 0 5px;
  background: var(--color-background-code);
  border-radius: 2px;
  -webkit-border-radius: 2px;
}
.highlight {
  overflow-x: auto;
  margin: 1rem 0;
  padding: 10px 15px;
  border-radius: 4px;
  font-family: Source Code Pro, Consolas, Liberation Mono, Menlo, Courier, monospace;
  -webkit-border-radius: 4px;
  scrollbar-width: none /* Firefox */;
  -ms-overflow-style: none /* Internet Explorer 10+ */;
}
.highlight ::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.highlight figcaption {
  margin-top: 4px;
  font-size: 0.9em;
  zoom: 1;
}
.highlight figcaption a {
  float: right;
  color: inherit;
  font-style: italic;
  font-size: 0.8em;
}
.highlight figcaption a:hover {
  color: var(--color-link);
}
.highlight figcaption:before,
.highlight figcaption content: "" {
  display: table;
}
.highlight figcaption:after {
  clear: both;
}
.highlight:hover .btn-copy {
  opacity: 1;
}
.highlight .btn-copy {
  font-size: 1.2rem;
  position: absolute;
  right: 20px;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.highlight .btn-copy:hover {
  color: var(--color-accent-1);
}
.highlight pre {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}
.highlight table {
  width: auto;
}
.highlight td.gutter {
  text-align: right;
  opacity: 0.2;
}
.highlight .line {
  height: 22px;
}
.container {
  position: absolute;
  bottom: 0;
  font-size: 13px;
  text-align: center;
}
.container p:hover {
  color: #e60000;
}
.container span:hover {
  color: #e60000;
}
