<% if (is_post()) { %>
  <% if (post.updated) { %>
    <% var dayDiff = moment().diff(moment(post.updated), 'days') %>
    <% if (dayDiff >= 90) { %>
      <div class="<%= class_name %>">
        <i class="fas fa-exclamation-circle"></i>
        这是一篇更新于 <%= dayDiff %> 天前的文章，其中的信息可能已经有所发展或是发生改变。
      </div>
    <% }%>
  <% }%>
<% } %>
  